body {
  background-image: url('https://www.picgifs.com/glitter-gifs/d/dolphins/picgifs-dolphins-54255.gif');
  text-align: center;
  
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: yellow;
}
